In [1]:
import numpy as np
import pandas as pd

In [7]:
data = pd.DataFrame([[2,7,1],[9,4,16],[11,14,18],[13,13,16],[15,18,9]]
                    , index=["Mon", "Tue", "Wed", "Thur", "Fri"]
                   , columns =["Almond butter", "Peanut butter", "Cashew butter"])

In [8]:
data

      Almond butter  Peanut butter  Cashew butter
Mon               2              7              1
Tue               9              4             16
Wed              11             14             18
Thur             13             13             16
Fri              15             18              9

In [11]:
price = pd.DataFrame([[10,8,12]]
                 , index=["Price"]
                 , columns= ["Almond butter", "Peanut butter", "Cashew butter"])

In [12]:
price

       Almond butter  Peanut butter  Cashew butter
Price             10              8             12

In [18]:
data["Total $"] = np.dot(data,price.T)

In [19]:
data

      Almond butter  Peanut butter  Cashew butter  Total $
Mon               2              7              1       88
Tue               9              4             16      314
Wed              11             14             18      438
Thur             13             13             16      426
Fri              15             18              9      402

In [ ]:
import numpy as np
import pandas as pd
data = pd.DataFrame([[2,7,1],[9,4,16],[11,14,18],[13,13,16],[15,18,9]]
                    , index=["Mon", "Tue", "Wed", "Thur", "Fri"]
                   , columns =["Almond butter", "Peanut butter", "Cashew butter"])
price = pd.DataFrame([[10,8,12]]
                 , index=["Price"]
                 , columns= ["Almond butter", "Peanut butter", "Cashew butter"])
data["Total $"] = np.dot(data,price.T)
data